.ContainerPrincipal{
    display : flex;
    justify-content:space-between;
    flex-direction: column;
}


.ContainerEnemie {
    display: flex;
    justify-content: right;
    order: 1;
    background: aqua;
    height: 10vh;
    width: 100%;
    animation: slideRight 0.7s ease-in 0s;
    position:relative;
    
}
@keyframes slideRight {
    0% {
        transform: translateX(-250px);
        opacity : 0;
    }

    100% {
        transform: translateX(0px);
        opacity : 10;
    }
}

.EnemiePosition{
    height : auto;
    width: 10vw;
}

.ViePointsMonstre{
    background : red;
    height : 50%;
}

.ManaMonstre{
    background: green;
    height: 50%;
}

.ContainerCommentaire {
    display: flex;
    order: 2;
    width: 100%;
    justify-content: center;
    font-size: 72px;
    font-weight: 800;
    animation: pop 3s ease-in 0s;
    }
@keyframes pop {
    0% {
        transform:scale(0.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 10;
    }
}

.ContainerJoueur {
    display: flex;
    order: 3;
    background: aqua;
    height: 10vh;
    width: 100%;
    animation: slideLeft 0.7s ease-in 0s;
    position: relative;
}

@keyframes slideLeft {
    0% {
        transform: translateX(250px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 10;
    }
}

.JoueurPosition {
    height: auto;
    width: 10vw;
    margin: auto;
    
}

.SelectAction {
    display: flex;
    flex-direction: column;
    width: 20vw;
  
    align-items: center;
    margin : auto;
}

.Action1{
    display : flex;
    width : 5vw;
    border : none;
    background : none;
    cursor: pointer;
    margin: 0.3vh 0 0.3vh 0;
}

.Action:hover{
    font-size : 85%;
    font-weight : 700;
    
}

.Statistique{
    width: 20vw;
    background : gray;
    }

.ViePoints {
    
    height: 50%;
    background: red;
}

.Mana {
    height: 50%;
    background: green;
}