<div class="Container">

<div class="SubContainer" @onkeydown="Move" tabindex="0">
    <div class="Cube" style="@CubeStyle">

    </div>
        <div class="CubeGen" style="@GenCube">

    </div>   
          
       

</div>
</div>
