.Container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 18vh); /*82vh*/
    background-color: black;
    margin: 0;
    padding:0;
}

.ContainerText {
    background: gray;
    width: 50vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border:5px solid black;
    border-radius: 20px;
    

}

.Text{
    margin : 10px;
    color: beige;
}

.SubContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lawngreen;
    width: 50vh;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.Cube {
    z-index: 2;
    position: relative;
    min-height: max-content;
    min-width: max-content;
    width: calc(2vh );
    height: calc(2vh );

}


.CubeGen {
    position: relative;
    z-index: 0;
    min-height: max-content;
    min-width: max-content;
    width: calc(2vh );
    height: calc(2vh );
    
    
}