.ContainerPrincipal[b-krstoqwi87]{
    display : flex;
    justify-content:space-between;
    flex-direction: column;
}


.ContainerEnemie[b-krstoqwi87] {
    display: flex;
    justify-content: right;
    order: 1;
    background: aqua;
    height: 10vh;
    width: 100%;
    animation: slideRight-b-krstoqwi87 0.7s ease-in 0s;
    position:relative;
    
}
@keyframes slideRight-b-krstoqwi87 {
    0% {
        transform: translateX(-250px);
        opacity : 0;
    }

    100% {
        transform: translateX(0px);
        opacity : 10;
    }
}

.EnemiePosition[b-krstoqwi87]{
    height : auto;
    width: 10vw;
}

.ViePointsMonstre[b-krstoqwi87]{
    background : red;
    height : 50%;
}

.ManaMonstre[b-krstoqwi87]{
    background: green;
    height: 50%;
}

.ContainerCommentaire[b-krstoqwi87] {
    display: flex;
    order: 2;
    width: 100%;
    justify-content: center;
    font-size: 72px;
    font-weight: 800;
    animation: pop-b-krstoqwi87 3s ease-in 0s;
    }
@keyframes pop-b-krstoqwi87 {
    0% {
        transform:scale(0.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 10;
    }
}

.ContainerJoueur[b-krstoqwi87] {
    display: flex;
    order: 3;
    background: aqua;
    height: 10vh;
    width: 100%;
    animation: slideLeft-b-krstoqwi87 0.7s ease-in 0s;
    position: relative;
}

@keyframes slideLeft-b-krstoqwi87 {
    0% {
        transform: translateX(250px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 10;
    }
}

.JoueurPosition[b-krstoqwi87] {
    height: auto;
    width: 10vw;
    margin: auto;
    
}

.SelectAction[b-krstoqwi87] {
    display: flex;
    flex-direction: column;
    width: 20vw;
  
    align-items: center;
    margin : auto;
}

.Action1[b-krstoqwi87]{
    display : flex;
    width : 5vw;
    border : none;
    background : none;
    cursor: pointer;
    margin: 0.3vh 0 0.3vh 0;
}

.Action:hover[b-krstoqwi87]{
    font-size : 85%;
    font-weight : 700;
    
}

.Statistique[b-krstoqwi87]{
    width: 20vw;
    background : gray;
    }

.ViePoints[b-krstoqwi87] {
    
    height: 50%;
    background: red;
}

.Mana[b-krstoqwi87] {
    height: 50%;
    background: green;
}