/* /Composants/Combats.razor.rz.scp.css */
.ContainerPrincipal[b-krstoqwi87]{
    display : flex;
    justify-content:space-between;
    flex-direction: column;
}


.ContainerEnemie[b-krstoqwi87] {
    display: flex;
    justify-content: right;
    order: 1;
    background: aqua;
    height: 10vh;
    width: 100%;
    animation: slideRight-b-krstoqwi87 0.7s ease-in 0s;
    position:relative;
    
}
@keyframes slideRight-b-krstoqwi87 {
    0% {
        transform: translateX(-250px);
        opacity : 0;
    }

    100% {
        transform: translateX(0px);
        opacity : 10;
    }
}

.EnemiePosition[b-krstoqwi87]{
    height : auto;
    width: 10vw;
}

.ViePointsMonstre[b-krstoqwi87]{
    background : red;
    height : 50%;
}

.ManaMonstre[b-krstoqwi87]{
    background: green;
    height: 50%;
}

.ContainerCommentaire[b-krstoqwi87] {
    display: flex;
    order: 2;
    width: 100%;
    justify-content: center;
    font-size: 72px;
    font-weight: 800;
    animation: pop-b-krstoqwi87 3s ease-in 0s;
    }
@keyframes pop-b-krstoqwi87 {
    0% {
        transform:scale(0.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 10;
    }
}

.ContainerJoueur[b-krstoqwi87] {
    display: flex;
    order: 3;
    background: aqua;
    height: 10vh;
    width: 100%;
    animation: slideLeft-b-krstoqwi87 0.7s ease-in 0s;
    position: relative;
}

@keyframes slideLeft-b-krstoqwi87 {
    0% {
        transform: translateX(250px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 10;
    }
}

.JoueurPosition[b-krstoqwi87] {
    height: auto;
    width: 10vw;
    margin: auto;
    
}

.SelectAction[b-krstoqwi87] {
    display: flex;
    flex-direction: column;
    width: 20vw;
  
    align-items: center;
    margin : auto;
}

.Action1[b-krstoqwi87]{
    display : flex;
    width : 5vw;
    border : none;
    background : none;
    cursor: pointer;
    margin: 0.3vh 0 0.3vh 0;
}

.Action:hover[b-krstoqwi87]{
    font-size : 85%;
    font-weight : 700;
    
}

.Statistique[b-krstoqwi87]{
    width: 20vw;
    background : gray;
    }

.ViePoints[b-krstoqwi87] {
    
    height: 50%;
    background: red;
}

.Mana[b-krstoqwi87] {
    height: 50%;
    background: green;
}
/* /Composants/Connexion.razor.rz.scp.css */
*[b-tybzi0ql20] {
    display: flex;
    align-items: center;
    flex-direction: column
}
/* /Composants/Inscription.razor.rz.scp.css */
*[b-srdm52dvw2] {
    display: flex;
    align-items: center;
    flex-direction: column
}
/* /Composants/Monstres.razor.rz.scp.css */
.containerCard[b-ucnxlauf5r] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card[b-ucnxlauf5r] {
    border: solid 3px;
    padding: 1vh;
    background-color: #eaeaea
}
/* /Composants/Navbar.razor.rz.scp.css */
*[b-gfjt9w1w0r] {
    padding: 0;
    margin: 0;
}

.list[b-gfjt9w1w0r] {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight : 800;
    text-decoration:none;
    list-style : none;
    padding: 0;
}
a:hover[b-gfjt9w1w0r]{
    color: blue;
    font-weight: bold;
}

a[b-gfjt9w1w0r] {
    text-decoration: none;
    color : black;
}

.navbar[b-gfjt9w1w0r]{
    background-color: lightgray;
    height:auto;
    padding: 1vw;
}
/* /Composants/Snake.razor.rz.scp.css */
.Container[b-cnjg4lulbu] {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 18vh); /*82vh*/
    background-color: black;
    margin: 0;
    padding:0;
}

.ContainerText[b-cnjg4lulbu] {
    background: gray;
    width: 50vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border:5px solid black;
    border-radius: 20px;
    

}

.Text[b-cnjg4lulbu]{
    margin : 10px;
    color: beige;
}

.SubContainer[b-cnjg4lulbu] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lawngreen;
    width: 50vh;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.Cube[b-cnjg4lulbu] {
    z-index: 2;
    position: relative;
    min-height: max-content;
    min-width: max-content;
    width: calc(2vh );
    height: calc(2vh );

}


.CubeGen[b-cnjg4lulbu] {
    position: relative;
    z-index: 0;
    min-height: max-content;
    min-width: max-content;
    width: calc(2vh );
    height: calc(2vh );
    
    
}
/* /Pages/Home.razor.rz.scp.css */
*[b-xjp6wia83e] {
    display: flex;
    align-items: center;
    flex-direction: column
}
/* /Pages/Inscription.razor.rz.scp.css */
*[b-1dpjq1km19] {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.containerBouttonSwitch[b-1dpjq1km19]{
    display: flex;
    justify-content:center;
    margin: 1vh
}
/* /Pages/Jeu.razor.rz.scp.css */
*[b-w0gizmobbn] {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerCard[b-w0gizmobbn] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card[b-w0gizmobbn]{
    border: solid 3px;
    padding: 1vh;
    background-color: #eaeaea
}

.gray[b-w0gizmobbn]{
    background-color: white;
    width: 100%;
    margin: 0.5vh;
    height: 3vh;
}

input[b-w0gizmobbn] {
    border: none;
    height: 3vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.class="damageColor"[b-w0gizmobbn]{
    color : red;
}

.Baston[b-w0gizmobbn] {
    font-weight: 700;
    font-size: 50px;
    border : none;
    padding: 10vh
}
