@page "/Jeu"


<PageTitle>Jeu</PageTitle>
<BattleAdventure.Composants.Navbar></BattleAdventure.Composants.Navbar>
<h1>Mon super jeu</h1>

<div class="containerCard">
    <BattleAdventure.Composants.Snake></BattleAdventure.Composants.Snake>
    </div>